body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #000000;
}

#main-container {
    background-color: #5A3C86; 
    width: 1024px;
    height: 1000px;
}

#gradient {
    background-color: aqua;
    display: flex;
    background-image: linear-gradient(#5A3C86,#CDB4F3);
    height: 500px;
}

#base {
    height: 4000px;
    background-color: #CDB4F3;
}

img {
    width: 1025px;
}


h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}